.contato{
    text-align: center;
    padding: 32px;
}

.contato h5{
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
    font-weight: bold
}

.contato .contaas{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}
